.bodytotal{
    background-color:#161625;
    width: 100%  ;
}
html,body,#app,#app>div{
    height: 100%;
    background-color:#161625;
    width: 100%;
}
.name{
font-stretch: expanded;

}
.interact
{
    font-size: 44px;
    height: 80px;
    width: 80px;
    border-radius:50%;
    border-color: brown;
    border-width: 5px;
    background-color:orange;
    
}